@keyframes chatA {
    from {
        background-color: rgb(80, 80, 80);
    }
    to {
        background-color: rgb(100, 100, 100);
    }
}

@keyframes chatB {
    from {
        background-color: rgb(100, 100, 100);
    }
    to {
        background-color: rgb(80, 80, 80);
    }
}

body {
    background-color: rgb(56, 56, 56);
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    cursor: default;
}

button, .pointer {
    cursor: pointer;
}

#TEXT {
    margin-top: 20px;
    font-size: 20px;
}

input, button {
    background-color: rgb(80, 80, 80);
    animation-name: chatB;
    animation-duration: .3s;
    border: 0px solid black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
}
input:hover:not(:disabled), button:hover:not(:disabled) {
    background-color: rgb(100, 100, 100);   
    animation-name: chatA;
    animation-duration: .3s;
}
input:focus:not(:disabled), button:focus:not(:disabled) {
    border-bottom: wheat;
}
input:disabled, button:disabled {
    background-color: black;
}

#pole {
    width: 94%;
}
.boxA {
    border-left: 7px double black;
    min-height: 45px;
    width: auto;
    margin-bottom: 5px;
}
.user {
    height: 25px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(173, 173, 173);
    padding-left: 5px;
}
.text {
    min-height: 15px;
    font-size: 13px;
    padding-left: 5px;
    font-weight: 550;
}
.boxB {
    min-height: 45px;
    float: left;
}
img.image {
    border-radius: 100%;
}
div.image {
    margin-left: 5px;
    width: 45px;
    height: 45px;
    float: left;
}