@keyframes chatA {
    from {
        background-color: rgb(80, 80, 80);
    }
    to {
        background-color: rgb(100, 100, 100);
    }
}

@keyframes chatB {
    from {
        background-color: rgb(100, 100, 100);
    }
    to {
        background-color: rgb(80, 80, 80);
    }
}

body {
    background-color: rgb(56, 56, 56);
    color: white;
    font-family: sans-serif;
}

#TEXT {
    margin-top: 20px;
    font-size: 20px;
}

input {
    background-color: rgb(80, 80, 80);
    animation-name: chatB;
    animation-duration: .3s;
    border: 0px solid black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
}
input:hover {
    background-color: rgb(100, 100, 100);   
    animation-name: chatA;
    animation-duration: .3s;
}
input:focus {
    border-bottom: wheat;
}